<div class="alert alert-danger hide" id="image-new-error-message">
    データの登録に失敗しました。
    <div id="errors"></div>
</div>
<% @topics.each do |topic| %>
<div class="panel panel-default">
    <div class="panel-heading">
        <%= profile_img(topic.user) if profile_img(topic.user) %>
        <%= topic.created_at.strftime("%y/%m/%d %p %l:%M") %>
        <%= topic.user.name %>さんが投稿しました。<br>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <%= link_to topic_path(topic) do %>
            <%= simple_format(topic.content) %>
            <% end %>
            <%= image_tag topic.image if topic.image? %><br><br>
            <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-default btn-sm btn-success', remote: true if topic.user.id == current_user.id %>
            <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger', remote: true if topic.user.id == current_user.id %>
            <div id="comments_area">
                <br>
                <%= link_to 'コメントする', new_topic_comment_path(topic), class: "fa fa-comment fa-lg", remote: true %><hr>
                <% comment_feeds(topic).each do |comment| %>
                <span class="text-info">
                    <%= link_to '', edit_topic_comment_path(topic, comment), class: "fa fa-pencil-square-o fa-lg", remote: true if comment.user.id == current_user.id %>
                    <%= link_to '', topic_comment_path(topic, comment), class: "fa fa-trash-o fa-lg", method: :delete, remote: true, data: { confirm: '本当に削除していいですか？' } if comment.user.id == current_user.id %>
                    <%= comment.user.name %></span><%= comment.content %><br><hr>
            </span>
            <div id="comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
            <% end %>
        </div>
    </div>
  </div>
</div>
<% end %>
